extends partials/header

block content
    h1 Total number of players is #{ players.length }
    each player in players
        p -----------------
        //- h3 #{player.name} #{player.surname}
        //- //img(src=player.imageURL)
        //- button button
        //- a(href='/player/' + player._id) Go to player
        .card(style='width: 12rem;')
            img.card-img-top(src=player.imageURL, alt='Card image cap')
            .card-body
                h5.card-title #{player.name} #{player.surname}
                a.btn.btn-primary(href='/player/' + player._id) Go to player
    a(href='/joinTournament') Join for daily tournament on next week!
